# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=convite_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Chave secreta JWT (mínimo de 32 caracteres)
JWT_SECRET=12345678901234567890123456789012
